doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(href='https://fonts.googleapis.com/css2?family=Fredoka+One&family=Prompt:wght@500&display=swap' rel='stylesheet')
style.
  #main {
  padding: 20px;
  background-color: rgb(150, 26, 26);
  color: white;
  font-family: 'Prompt', sans-serif;
  }
  #main>img {
  width: 100px;
  height: 80px;
  margin-bottom: -20px;
  }
  #main>h3>strong {
  font-family: 'Fredoka One', cursive;
  font-size: large;
  font-weight: 900;
  }
  #main>h3 {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  font-size: larger;
  }
  h2 {
  margin-top: -20px;
  }
#main(align='center')
  img(src='https://drive.google.com/u/0/uc?id=121QhIiE1h3Jl8lBGh7A6QizmKf0jZDr3&export=download')
  h3
    strong  Share 
    |  Blood
  h1  Hai, #{fname}
  h2  Thank you for registering with us 
  p
    | You will receive emails when someone in your area/region/district request donors in you blood group.
